<footer class="site-footer">
  <div class="container site-footer-inner">
    {{ $imprintText := "Impressum" }}
    {{ $privacyText := "Datenschutzerklärung" }}
    {{ if eq .Language.Lang "ru" }}
      {{ $imprintText = "Выходные данные" }}
      {{ $privacyText = "Политика конфиденциальности" }}
    {{ end }}
    {{ with .Params.ui }}
      {{ $imprintText = or .footer_imprint_text $imprintText }}
      {{ $privacyText = or .footer_privacy_text $privacyText }}
    {{ end }}
    <a href="{{ "impressum" | relLangURL }}">{{ $imprintText }}</a>
    <a href="{{ "datenschutz" | relLangURL }}">{{ $privacyText }}</a>
  </div>
</footer>
