<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ .Site.Params.description }}">
<title>{{ .Site.Title }}</title>
<link rel="icon" type="image/png" href="{{ "images/sign_gold.png" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/apple-touch-icon.png" | relURL }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "sitemap.xml" | absURL }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "css/main.css" | relURL }}">

{{ if .IsHome }}
  {{ range .AllTranslations -}}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" />
  {{ end -}}
  <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
{{ end -}}

<script src="{{ "js/language-preference.js" | relURL }}"></script>
